.App {
  /* height: 100vh; */
  text-align: center;
}

.Top {
  background-color: #288cff;
  padding: 0.5rem;
  text-align: left;
  color: white;
}

.SearchBar {
  background-color: beige;
  padding: 0.1rem;
  top: 50%;
  width: 30rem;
  float: right;
}

.MapContent {
  height: 80vmin;
  position: relative;
}

.Map {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width:100%;
  height:100%;
}

.MapControl {
  position: relative;
  z-index: 2;
  float: right;
}

.MapControl button {
  margin: 0.1rem;
  background-color: #288cff;
}